<header class="app-header navbar">
  <h3 style="margin-left: 20px;">
<img src="assets/img/imm.png" style="height: 37px" width="40px"><strong>eBdesk</strong>
<button class="btn btn-default" routerLink="/workspace" routerLinkActive="active">WORKSPACE SETTINGS</button>
<button class="btn btn-default" routerLink="/userman" routerLinkActive="active">USER MANAGEMENT</button>
</h3>
</header>