<button class="btn btn-default" (click)="isAddingNewPerson = !isAddingNewPerson">Create User</button>

<div class="btn-group" style="margin-left: 170px;">
  <form class="input-group form-search" id="search-user">
    <input name="search" class="form-control" placeholder="Search for..." required="" type="text">
    <span class="input-group-btn">
                            <button type="button" class="btn btn-default form-search-clear" style="display: none;">CLEAR</button>
<button class="btn btn-default" type="submit">FIND</button>
</span>
</form>
</div>

<br><br>
<div class="row marketing">
  <div class="col-lg-6">

    <table class="table table-hover table-bordered">
      <tr>
        <!--<th>No</th>-->
        <th>Name</th>
        <!--<th>Email</th>
        <th>Status</th>-->
        <th>Action</th>
      </tr>
      <tr *ngFor="let data of DataArray" (click)="Edit(data)" (click)="isEditNewPerson = !isEditNewPerson">
        <!--<td>{{data.id}}</td>-->
        <td>{{data.name}}</td>
        <!--<td>{{data.email}}</td>
        <td>{{data.status}}</td>-->
        <td>
          <!--<button class="btn btn-default" (click)="Edit(data)" (click)="isAddingNewPerson = !isAddingNewPerson">Edit</button>-->
          <button class="btn btn-danger" (click)="Delete(data)">Delete</button>
        </td>
      </tr>
    </table>
  </div>

  <!--<div *ngIf="appState == 'default'">-->
  <div class="col-lg-6" *ngIf="isAddingNewPerson">
    <form [formGroup]="myForm" novalidate (submit)="Added()">
      <h3> Create User </h3>
      <div>
        <label>ID : </label>
        <input type="text" formControlName="id">
      </div>
      <div>
        <label>Name : </label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Email : </label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label>Status : </label>
        <input type="text" formControlName="status">
      </div>
      <div>
        <button class="btn btn-success" type="submit">Add</button>
        <!--<button class="btn btn-primary" type="button" (click)="Update()">Update</button>-->
      </div>
    </form>
  </div>
  <!--</div>-->

  <!--<div *ngIf="appState == 'edit'">-->
  <div class="col-lg-6" *ngIf="isEditNewPerson">
    <form [formGroup]="myForm" novalidate (submit)="Added()">
      <h3> Modify User </h3>
      <div>
        <label>ID : </label>
        <input type="text" formControlName="id">
      </div>
      <div>
        <label>Name : </label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Email : </label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label>Status : </label>
        <input type="text" formControlName="status">
      </div>
      <div>
        <!--<button class="btn btn-success" type="submit">Add</button>-->
        <button class="btn btn-primary" type="button" (click)="Update()">Update</button>
      </div>
    </form>
  </div>
  <!--</div>-->

</div>