<button class="btn btn-default" (click)="isAddingNewPerson = !isAddingNewPerson">Create User</button>
<br><br>
<div class="row marketing">
  <div class="col-lg-6">

    <table class="table table-hover table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let data of DataArray">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.status}}</td>
        <td>
          <button class="btn btn-default" (click)="Edit(data)" (click)="isAddingNewPerson = !isAddingNewPerson">Edit</button>
          <!--<button class="btn btn-danger" (click)="Delete(data)">Delete</button>-->
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-6" *ngIf="isAddingNewPerson">
    <form [formGroup]="myForm" novalidate (submit)="Added()">
      <div>
        <label>ID : </label>
        <input type="text" formControlName="id">
      </div>
      <div>
        <label>Name : </label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Email : </label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label>Status : </label>
        <input type="text" formControlName="status">
      </div>
      <div>
        <button class="btn btn-success" type="submit">Add</button>
        <button class="btn btn-primary" type="button" (click)="Update()">Update</button>
      </div>
    </form>
  </div>
</div>