<app-nav-bar></app-nav-bar>
<button class="btn btn-default" (click)="isAddingNewPerson = !isAddingNewPerson">Create User</button>

<div class="btn-group" style="margin-left: 170px;">
  <!--<form class="input-group form-search" id="search-user">
    <input name="search" class="form-control" placeholder="Search for..." required="" type="text" ng-model="test">
    <span class="input-group-btn">
    <button type="button" class="btn btn-default form-search-clear" style="display: none;">CLEAR</button>
<button class="btn btn-default" type="submit">FIND</button>
</span>
  </form>-->
</div>

<br><br>
<div class="row marketing">
  <div class="col-lg-6">
    <table class="table table-hover table-bordered">
      <tr>
        <!--<th>No.</th>-->
        <th style="width: 450px;">Name</th>
        <th style="text-align: center">Action</th>
      </tr>
      <tr *ngFor="let data of DataArray" (click)="Edit(data)" (click)="isEditNewPerson = !isEditNewPerson">
        <!--<td> </td>-->
        <td class="capitalize">{{data.name}}</td>
        <td style="text-align: center">
          <button class="btn btn-danger" (click)="Delete(data)">Delete</button>
        </td>
      </tr>
    </table>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm">
      <li><a>{{pager.totalItems}} Users</a></li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>

  <!--<div *ngIf="appState == 'default'">-->
  <div class="col-lg-6" *ngIf="isAddingNewPerson">
    <form [formGroup]="myForm" novalidate (submit)="Added()">
      <h4> Create User </h4>
      <div>
        <label>ID : </label>
        <input type="text" formControlName="id">
      </div>
      <div>
        <label>Name : </label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Email : </label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label>Status : </label>
        <input type="text" formControlName="status">
      </div>
      <div>
        <button class="btn btn-success" type="submit">Add</button>
        <!--<button class="btn btn-primary" type="button" (click)="Update()">Update</button>-->
      </div>
    </form>
  </div>
  <!--</div>-->

  <!--<div *ngIf="appState == 'edit'">-->
  <div class="col-lg-6" *ngIf="isEditNewPerson">
    <form [formGroup]="myForm" novalidate (submit)="Update()">
      <h4> Modify User </h4>
      <div>
        <label>ID : </label>
        <input type="text" formControlName="id">
      </div>
      <div>
        <label>Name : </label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label>Email : </label>
        <input type="text" formControlName="email">
      </div>
      <div>
        <label>Status : </label>
        <input type="text" formControlName="status">
      </div>
      <div>
        <!--<button class="btn btn-success" type="submit">Add</button>-->
        <button class="btn btn-primary" type="button" (click)="Update()">Update</button>
      </div>
    </form>
  </div>
  <!--</div>-->

</div>