<div class="login jumbotron center-block">
  <div align="center"><object><embed src="http://192.168.180.114:8000/assets/images/logo.svg" width="65px" height="65px"></object></div>
  <h2 align="center">eBdesk</h2>
  <form role="form" (submit)="login($event, username.value, password.value)">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" #username class="form-control" id="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" #password class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a [routerLink]="['/signup']">  Click here to Signup</a>
  </form>
</div>
<p class="text-muted text-center">
  <small>© 2017 · eBdesk Teknologi</small>
</p>