<header class="app-header navbar">
  <h3 style="margin-left: 20px;">
<strong><object><embed src="http://192.168.180.114:8000/assets/images/logo.svg" width="35px" height="35px"></object> eBdesk </strong>
<button class="btn btn-default" routerLink="/workspace" routerLinkActive="active">WORKSPACE SETTINGS</button>
<button class="btn btn-default" routerLink="/userman" routerLinkActive="active">USER MANAGEMENT</button>
</h3>
</header>